In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [3]:
jeopardy = pd.read_csv('jeopardy.csv')
print(jeopardy.head())

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

1. We’ve provided a csv file containing data about the game show Jeopardy! in a file named jeopardy.csv. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

Note that in order to make this project as “real-world” as possible, we haven’t modified the data at all — we’re giving it to you exactly how we found it. As a result, this data isn’t as “clean” as the datasets you normally find on Codecademy. More specifically, there’s something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier the rest of the project.

In [4]:
jeopardy.columns = jeopardy.columns.str.strip().str.replace(' ', '_').str.lower()
print(jeopardy.head())

   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list ["King", "England"] was passed to our function, the function returned a DataFrame of 152 rows. Every row had the strings "King" and "England" somewhere in its " Question".

Test your function by printing out the column containing the question of each row of the dataset.

Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust. For example, think about capitalization. We probably want to find questions that contain the word "King" or "king".

You may also want to check to make sure you don’t find rows that contain substrings of your given words. For example, our function found a question that didn’t contain the word "king", however it did contain the word "viking" — it found the "king" inside "viking". Note that this also comes with some drawbacks — you would no longer find questions that contained words like "England's".

In [29]:
def filter_data(data, column, words):
    filter = lambda x: all(word.lower() in x.lower() for word in words)
    return data.loc[data[column].apply(filter)]

print(filter_data(jeopardy, 'question', ['Queen', 'Spain']))

        show_number    air_date             round               category  \
231            3673  2000-07-19  Double Jeopardy!           DRAMA QUEENS
20168           980  1988-12-02   Final Jeopardy!               MONARCHS
49970          5499  2008-07-03         Jeopardy!            REIGN DROPS
109236         2943  1997-05-21  Double Jeopardy!         HISTORIC NAMES
123127          962  1988-11-08         Jeopardy!          WORLD HISTORY
132899         4922  2006-01-24  Double Jeopardy!          6 FEET, UNDER
135446         4532  2004-04-27         Jeopardy!     BAD BOYS, BAD BOYS
159363         3789  2001-02-08  Double Jeopardy!    LONG LIVE THE KING!
205623         5504  2008-07-10  Double Jeopardy!  "C"LASSICAL MUSICIANS
206648         3864  2001-05-24         Jeopardy!                 QUEENS
211950         2348  1994-11-16  Double Jeopardy!  20th CENTURY MONARCHS
216733         6044  2010-12-16  Double Jeopardy!            YOUR MOMMA!

        value  \
231     $1000
20168    None
49970    $200
109236   $600
123127   $400
132899   $800
135446   $800
159363   $200
205623  $1600
206648   $300
211950   $600
216733  $1200

                                                                                                      question  \
231                             The queen in Marlowe's "Edward II" is named this, like a famous queen of Spain
20168                             This Queen of England was the granddaughter of Ferdinand & Isabella of Spain
49970                                                  The reign in Spain for this queen was from 1474 to 1504
109236                        Spain's King Philip II was married 4 times; his second wife was this Tudor queen
123127                                In 1570 Spain's Phillip II tried to put this queen on the English throne
132899           By the age of 10, this 2'1" young man had already visited President Polk & the queen of Spain
135446  He was the queen's confessor before he became Spain's notoriously cruel first grand inquisitor in 1483
159363                          King Ferdinand & Queen Isabella of Spain sent this explorer on his 1492 voyage
205623                        In 1897 this cellist was awarded the Order of Carlos III from the Queen of Spain
206648                       This queen's marriage to Ferdinand in 1469 brought about the unification of Spain
211950             Queen Ena of Spain, the last surviving granddaughter of this queen of England, died in 1969
216733                                                        Spain's queen Joan the Mad & Catherine of Aragon

                                    answer  value_float
231                               Isabella       1000.0
20168                 Mary I (Bloody Mary)          0.0
49970                             Isabella        200.0
109236      Mary Tudor (Mary I of England)        600.0
123127  Mary Stuart (Mary, Queen of Scots)        400.0
132899                           Tom Thumb        800.0
135446                          Torquemada        800.0
159363                Christopher Columbus        200.0
205623                        Pablo Casals       1600.0
206648                            Isabella        300.0
211950                      Queen Victoria        600.0
216733                            Isabella       1200.0

3. We may want to eventually compute aggregate statistics, like .mean() on the " Value" column. But right now, the values in that column are strings. Convert the " Value" column to floats. If you’d like to, you can create a new column with the float values.

Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the “difficulty” of certain topics. For example, what is the average value of questions that contain the word "King"?

Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [43]:
jeopardy['value_float'] = jeopardy['value'].str.replace('[$,]', '', regex = True).str.replace('None', '0').apply(float)

filter_king = filter_data(jeopardy, 'question', ['King'])

print(filter_king['value_float'].mean())

771.8833850722094

4. Write a function that returns the count of the unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word "King", we could then find all of the unique answers to those questions. The answer “Henry VIII” appeared 3 times and was the most common answer.

In [48]:
def count_unique_answers(data):
    return data['answer'].value_counts()

print(count_unique_answers(filter_king))

Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
Grauman's Chinese Theater     1
highlighter                   1
The Wild Thornberrys          1
starch                        1
Gertrude Ederle               1
Name: answer, Length: 5268, dtype: int64